/* 🔥 UPDATED BrandStory.css */
.brand-story {
    padding: 100px 10%;
    background: #F7F3EB;
}

.story-container {
    display: flex;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    background-color: #F7F3EB;
}

.story-image {
    flex: 1;
    height: 400px;
    background: url("https://images.unsplash.com/photo-1492724441997-5dc865305da7") center/cover no-repeat;
    /* border-radius:12px; */
}

.story-text {
    flex: 1;
}

.story-text h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.story-text p {
    color: #555;
    line-height: 1.8;
    margin-bottom: 15px;
}