body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #F7F3EB;
  color: #2F2F2F;
}

section {
  padding: 80px 10%;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

button {
  background: #A8BBA3;
  border: none;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
}

input {
  display: block;
  width: 300px;
  padding: 12px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form {
  text-align: center;
}

@media(max-width:768px) {

  .hero h1 {
    font-size: 34px;
  }

  section {
    padding: 60px 6%;
  }

}